.firstLevel {
  align-items: center;
  display: grid;
  font-size: 18px;
  font-weight: 500;
  gap: 20px;
  grid-template-columns: 24px 1fr;
  line-height: 25px;
  margin-top: 20px;
}

.firstLevelActive,
.firstLevel:hover {
  color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
  fill: var(--primary);
}

.secondLevel {
  color: var(--gray-dark);
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.secondBlock {
  border-left: 1px solid #dfdfdf;
  margin-left: 12px;
  margin-top: 15px;
  padding-left: 32px;
}

.secondLevelBlockOpened:last-child {
  margin-bottom: 20px;
}

.thirdLevel {
  color: var(--gray-dark);
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 10px;
}

.thirdLevelActive,
.thirdLevel:hover {
  color: var(--primary);
}
