.tag {
  border-radius: 20px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 5px;
}

.small {
  font-size: 12px;
  line-height: 12px;
  padding: 5px 10px;
}

.medium {
  font-size: 14px;
  line-height: 14px;
  padding: 5px 10px;
}

.ghost {
  border: 1px solid var(--gray-light);
}

.red {
  background: #de0000;
  color: var(--white);
  font-weight: bold;
}

.grey {
  background: #b3c0d9;
  color: var(--white);
  font-weight: bold;
}

.green {
  background: var(--green-light);
  color: var(--green);
  font-weight: bold;
}

.primary {
  background: none;
  border: 1px solid var(--primary);
  color: var(--primary);
}
